[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
gevent = "*"
gevent-websocket = "*"
flask = "*"
flask-socketio = "*"
spotipy = "*"
spotipy-anon = "*"
plexapi = "*"
ytmusicapi = "*"
requests = "*"
thefuzz = "*"
yt-dlp = "*"

[dev-packages]

[requires]
python_version = "3.12"
